html, body {
    height: 100%;
    overflow: hidden;
}

body {
    box-sizing: border-box;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0px;
    color: black;
    background-color: lightgray;
    background-image: url("/Users/sarahwaldie/Desktop/SBS-website-2018/Images/marble-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  h1, p {
      padding: 20px;
  }
  ul {
      list-style: none;
  }

  .container > div.flex-div {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    display: grid;
    // grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:  auto auto auto 30vh auto auto 30vh auto auto auto 30vh auto auto auto;
}

@media(min-width: 768px) {
    .container {

        grid-template-rows: auto auto auto 60vh 30vh 70vh 30vh 70vh 30vh auto auto ;
    }
}

.logo {
    grid-column: 1 / -1;
    background-color: green;
    padding: 20px 0px;
}

.menu {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    background-color: white;
    color: black;
}

.menu > div {
    max-width: 100px;
    margin: 1em 2em;
}

.social-icons-bar {
    grid-column: 1 / -1;
    grid-row: 3 / span 1;
    background-color: white;

}

.header {
    background-color: rgba(0,0,0,.1) !important;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 4 / span 1;

}

.headline {
color: yellow;
font-size: 2em;
padding: 5px;
font-family: 'Permanent Marker', sans-serif;
letter-spacing: 3px;
display: none;
margin-left: -35px;
line-height: 40px;

}

.circle {
    /* width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: pink; */
    position: relative;
    left: 5%;
    opacity: 0;
}

@keyframes Slide-In {
    0%   { left: -100%; }
    100% { left: 5%; }
  }
.circle-load {
    opacity: 1;
    animation: Slide-In 5s;
}

@keyframes Fade-In {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

.headline-load {
    animation: Fade-In 5s;
    display: block;
    position: relative;
    z-index: 999;
}



.content-1 {
    grid-column: 1 / span 5;
    grid-row: 5 / span 1;
    align-items: top !important;
    background-color: #8ac5f5;
    text-align: left;

}

.content-2 {
    grid-column: 6 / -1;
    grid-row: 5 / span 1;
    background-color: #8ac5f5;
}

.marquee-2 {
    grid-column: 1 / -1;
    grid-row: 6 / span 1;
    background-image: url("/Users/sarahwaldie/Desktop/SBS-website-2018/Images/Asset 1.jpg");
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}

.animation-element {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: yellowgreen;
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.animation-element > h2 {
    padding-top: 90px;
    padding-left: 30px;
}


  @keyframes Slide-Left {
    0%   { left: -100%; }
    100% { left: 0%; }
  }

.in-view {
    opacity: 1;
    animation: Slide-Left 5s;
}

.service-1 {
    grid-column: 1 / span 4;
    grid-row: 7 / span 1;
    background-color: #f1c6dd;
    position: relative;
    z-index: 200;
}

.service-2 {
    grid-column: 5 / span 4;
    grid-row: 7 / span 1;
    background-color: #f1c6dd;
    position: relative;
    z-index: 200;
}

.service-3 {
    grid-column: 9 / span 4;
    grid-row: 7 / span 1;
    background-color: #f1c6dd;
    position: relative;
    z-index: 200;
}

.marquee-3 {
    grid-column: 1 / -1;
    grid-row: 8 / span 1;
    background-image: url("/Users/sarahwaldie/Desktop/SBS-website-2018/Images/typewriter.jpeg");
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}



.clients {
    
    grid-column: 1 / -1;
    grid-row: 9 / span 1;
    background-color: rgb(252, 251, 138);
    
    padding: 20px 0;
    position: relative;
    z-index: 200;
}

.clients > h1 {
    width: 100%;
    text-align: center;
    margin: 0;
    color: #333;
}

.client-logos {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 2em;
}

.client-logos > div > img {
    width: 70px;
}



.footer {
    grid-column: 1 / -1;
    grid-row: 11 / span 1;
    align-items: center;
    background-color: #6eff6e;
    position: relative;
    z-index: 200;
}






.paroller-scroller {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: yellowgreen;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.paroller-scroller > h2 {
    padding-top: 90px;
    padding-left: 30px;
}




