html {
    height: 100%;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0px;
    color: black;
    background-color: black;
    background-image: url("/Users/sarahwaldie/Desktop/SBS-website-2018/Images/marble-bg.jpg");
    background-size: cover;
    background-attachment: fixed;

  }

  h1, p {
      padding: 20px;
  }

//   ul {
//       list-style: none;
//   }

  .container > div.flex-div {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .container {
    display: grid;
    // grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:  auto auto auto 30vh auto  30vh auto auto auto 30vh auto auto auto;
}

@media(min-width: 900px) {
    .container {

        grid-template-rows: auto auto auto 60vh 30vh 60vh 30vh 60vh 30vh auto ;
    }
}

.logo {
    grid-column: 1 / -1;
    background-color: white;
}

.logo-image {
    width: 150px;
    padding: 10px 0px;
    object-fit: contain;
}

// @media(min-width: 900px) {
//     .logo-image {
//         width: 100%;
//     }
// }

.menu {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    background-color: white;
    color: black;
}

.menu > div {
    max-width: 100px;
    margin: 1em 2em;
}

.social-icons-bar {
    grid-column: 1 / -1;
    grid-row: 3 / span 1;
    background-color: #1fb26f;
}

.social-icons-bar > img {
    margin: .25em 1em;
}


.marquee {
    background-color: rgba(0,0,0,.1) !important;
    grid-column: 1 / -1;
    grid-row: 4 / span 1;
    align-items: center;

}



.headline {
    width: 100%;
color: black;
font-size: 2em;
padding: 5px;
font-family: 'Permanent Marker', sans-serif;
letter-spacing: 10px;
display: none;
position: relative;
padding-left: 10px;
}

.circle {

    grid-column: 1 / -1;
    grid-row: 4 / span 1; 
    position: relative;
    z-index: 11114;
width: 100%;
// height: 50px;
background-color: rgba(254, 242, 6, 0.792);
    position: relative;
    z-index: 1;
    opacity: 0;
    left: 0%;
    align-content: center;

}

@keyframes Slide-In {
    0%   { left: -90%; }
    100% { left: 0%; }
  }
.circle-load {
    opacity: 1;
    animation: Slide-In 5s;
}

@keyframes Fade-In {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

.headline-load {
    animation: Fade-In 7s;
    display: block;
    position: relative;
    z-index: 999;
}



.content-1 {
    grid-column: 1 / span 5;
    grid-row: 5 / span 1;
    align-items: top !important;
    background-color: white;
    text-align: left;

}

.content-2 {
    grid-column: 6 / -1;
    grid-row: 5 / span 1;
    background-color: white;
}

.marquee-2 {
    grid-column: 1 / -1;
    grid-row: 6 / span 1;
    background-image: url("/Users/sarahwaldie/Desktop/SBS-website-2018/Images/Asset 1.jpg");
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}

.animation-element1 {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: #1fb26f;
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.animation-element1 > h2 {
    padding-top: 90px;
    padding-left: 30px;
}

.animation-element2 {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: #1fb26f;
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.animation-element2 > h2 {
    padding-top: 90px;
    padding-left: 30px;
}


  @keyframes Slide-Left {
    0%   { left: -90%; }
    100% { left: 0%; }
  }

.in-view {
    opacity: 1;
    animation: Slide-Left 5s;
}

.service-1 {
    grid-column: 1 / -1;
    grid-row: 7 / span 1;
    background-color: white;
    position: relative;
    z-index: 200;
}


.service-2 {
    grid-column: 1 / -1;
    grid-row: 8 / span 1;
    background-color: white;
    position: relative;
    z-index: 200;
}

.service-3 {
    grid-column: 1 / -1;
    grid-row: 9 / span 1;
    background-color: white;
    position: relative;
    z-index: 200;
}

@media(min-width: 900px) {
    .service-1 {
    grid-column: 1 / span 4;
    grid-row: 7 / span 1;
    }

    .service-2 {
        grid-column: 5 / span 4;
        grid-row: 7 / span 1;
        }

    .service-3 {
    grid-column: 9 / span 4;
    grid-row: 7 / span 1;
    }



}

.marquee-3 {
    grid-column: 1 / -1;
    grid-row: 10 / span 1;
    background-image: url("/Users/sarahwaldie/Desktop/SBS-website-2018/Images/typewriter.jpeg");
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}

@media(min-width: 900px) {
    .marquee-3 {
        grid-row: 8 / span 1;
    }
}



.clients {
    
    grid-column: 1 / -1;
    grid-row: 11 / span 1;
    background-color: white;
    padding: 20px 0;
    position: relative;
    z-index: 200;
}

@media(min-width: 900px) {
    .clients {
        grid-row: 9 / span 1;
    }
}

.clients > h3 {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    color: #333;
}

.client-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
}

.client-logos > div > img {
    width: 80px;
    padding: 15px;
}

@media(min-width: 900px) {
    .client-logos {
        margin-top: 9vh;
    }

    .client-logos > div > img {
        width: 70px;
    }
}



.footer {
    grid-column: 1 / -1;
    grid-row: 12 / span 1;
    align-items: center;
    background-color: #1fb26f;
    position: relative;
    z-index: 200;
    padding: 20px;
}

@media(min-width: 900px) {
    .footer {
        grid-row: 10 / span 1;
    }
}

form {
    width: 30%;
}

input {
	border-radius: 3px;
	border: none;
    width: 60%;
    padding: 10px;
    margin: 0;
}

textarea {
	border-radius: 5px;
	width: 90%;
	height: 100px;
    border: none;
    margin: 0;
}

#submit {
	width: 25%;
	background-color: white;
	border: none;
	font-family: 'Montserrat', sans-serif;
    padding: 8px;
    margin-left: 20px;
}

#submit:hover {
	transform: translateY(2px);
}

p.inputText {
   margin: 0;
   padding: 0 0 10px 20px;
}

label {
color: white;
margin: 0;

}






// .paroller-scroller {
//     height: 200px;
//     width: 200px;
//     border-radius: 100px;
//     background-color: yellowgreen;
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-content: center;
// }

// .paroller-scroller > h2 {
//     padding-top: 90px;
//     padding-left: 30px;
// }




